<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Party:</b>
  <%= @candidate.party_id %>
</p>

<p>How many votes ya got?
	<%= Vote.where(:candidate_id => @candidate.id).count %>
	</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
